<div class="about-container p-10">
  <h1 class="text-4xl font-bold text-center">Sobre Nós</h1>
  <app-tabs-component class="my-20"></app-tabs-component>
    <p class="mt-4 text-lg text-center">
      Este é o espaço onde você pode falar mais sobre sua empresa ou produto.
    </p>
  
    <div class="testimonials mt-10 grid gap-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <div class="testimonial p-4 border rounded-lg shadow">
        <p class="text-sm italic">"Excelente serviço! Recomendo muito."</p>
        <h3 class="mt-2 text-base font-semibold">- Cliente 1</h3>
      </div>
      <div class="testimonial p-4 border rounded-lg shadow">
        <p class="text-sm italic">"O suporte foi rápido e eficiente."</p>
        <h3 class="mt-2 text-base font-semibold">- Cliente 2</h3>
      </div>
      <div class="testimonial p-4 border rounded-lg shadow">
        <p class="text-sm italic">"Muito fácil de usar e personalizar."</p>
        <h3 class="mt-2 text-base font-semibold">- Cliente 3</h3>
      </div>
      <div class="testimonial p-4 border rounded-lg shadow">
        <p class="text-sm italic">"Excelente serviço! Recomendo muito."</p>
        <h3 class="mt-2 text-base font-semibold">- Cliente 4</h3>
      </div>
      <div class="testimonial p-4 border rounded-lg shadow">
        <p class="text-sm italic">"O suporte foi rápido e eficiente."</p>
        <h3 class="mt-2 text-base font-semibold">- Cliente 5</h3>
      </div>
      <div class="testimonial p-4 border rounded-lg shadow">
        <p class="text-sm italic">"Muito fácil de usar e personalizar."</p>
        <h3 class="mt-2 text-base font-semibold">- Cliente 6</h3>
      </div>
    </div>
  </div>
  