<nav class="navigation mb-10 p-4 bg-gray-100">
    <a class="mx-4 text-blue-500 underline cursor-pointer" routerLink="/" (click)="navigateTo('/')">Home</a>
    <a class="mx-4 text-blue-500 underline cursor-pointer" routerLink="/sobre" (click)="navigateTo('/sobre')">Sobre</a>
    <a class="mx-4 text-blue-500 underline cursor-pointer"  routerLink="/login" (click)="navigateTo('/login')">Login</a>
    <a class="mx-4 text-blue-500 underline cursor-pointer" routerLink="/register" (click)="navigateTo('/register')">Cadastro</a>
    <a class="mx-4 text-blue-500 underline cursor-pointer" routerLink="/register" (click)="navigateTo('/faq')">FAQ</a>
</nav>

<router-outlet></router-outlet>
